<html>

<head>

</head>

<body>
    <div style="text-align: center; margin-top:40px;">

        <form action="/Registration/Index" method="post">
            <input class="btn btn-danger" type="submit" value="Registration" name="Registration">
        </form>
        <br />

        <form action="/Login/Index" method="post">
            <input class="btn btn-danger" type="submit" value="Login" name="Login">
        </form>

    </div>   
</body>

</html>
