
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>
    <br />
    <br />
    <br />
    <ul>
        <li>
            <form action="/Registration/Index" method="post">
                <input class="btn btn-danger" type="submit" value="Registration" name="Registration">
            </form>
        </li>
        <br />
        <li>
            <form action="/Login/Index" method="post">                
                <input class="btn btn-danger" type="submit" value="Login" name="Login">
            </form>
        </li>
    </ul>
    <br />
    <br />
</body>