<html>

<head>
   
</head>

<body>
    <div style="text-align: center; margin-top: 40px; ">
        <form method="post" action="/Login/Login">
            <input type="text" name="KorisnickoIme" id="KorisnickoIme" placeholder="Username" required=""><br /><br />
            <input type="password" name="Lozinka" id="Lozinka" placeholder="Password" required=""><br /><br />
            <input type="submit" name="Login" id="Login" value="Login">
        </form>
        <br />
        <a href="/Client/Index">HOME PAGE</a>
    </div>
</body>

</html>

