<html>

<head>

</head>

<body style="margin-top: 20px;">

    <div>
        <form action="/Kupac/AboutKupac" method="post">
            <div>
                <label for="KorisnickoIme" class="text-info">Kupac username: @ViewBag.korisnicko_ime</label><br><br /><br />
                <input type="hidden" value=@ViewBag.korisnicko_ime name="KorisnickoIme" />
                <input class="btn btn-danger" type="submit" value="User details" />
            </div>
        </form>
    </div>

    <br />

    <div>
        <form action="/Kupac/KupacTickets" method="post">
            <div>
                <input type="hidden" value=@ViewBag.korisnicko_ime name="KorisnickoIme" />
                <input class="btn btn-danger" type="submit" value="Tickets" />
            </div>
        </form>
    </div>

    <div>
        <form action="/Kupac/AllManifestations" method="post">
            <div>
                <br />
                <input type="hidden" value=@ViewBag.korisnicko_ime name="KorisnickoIme" />
                <input class="btn btn-danger" type="submit" value="All manifestations" />
            </div>
        </form>
    </div>
    <a href="javascript:history.back()">Back</a>
</body>

</html>